main{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 50vh;
}

.main_text{
	font-size: 5em;
	color: var(--white);
	transition: 2s;
}

@media screen and (max-width:960px){
	.main_text{
		font-size: 2em;
	}
}